.profile-photo {
    border: 2px black solid;
}

.profile-card {
    height: 65vh;
    overflow: hidden;
}

.profile-wrapper {
    margin-top: 1.5rem;
    max-height: 100vh !important;
    margin: 0;
}

.myprofile-txt {
    font-family: 'ClanOT', sans-serif;
    font-weight: bold;
}