.navbar {
    border-bottom: 5px solid #ffdb00;
    background-color: #35408f !important;
}

.navbar-btn {
    background-color: #ffdb00;
    color: black;
}

.nu-logo {
    max-height: 5.2rem;
    height: 100%;
    object-fit: contain;
}

.text-logo-bottom,
.text-logo-top {
    font-family: 'ClanOT', sans-serif;
    color: white;
    font-weight: bold;
}

.text-logo-top {
    margin-top: 1rem;
    margin-bottom: 0;
}

.text-logo-bottom {
    margin-bottom: 1rem;
    margin-top: 0;
}