.register {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-desc {
    font-size: 2vh;
}

#register-dropdown,
.register-button {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: #35408f;
}

.register-title {
    font-family: 'ClanOT', sans-serif;
    font-weight: bold;
    color: #35408f;
}

.register-page {
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-left: 25vh;
    padding-right: 25vh;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.design-register-page {
    padding-top: 10rem;
    padding-bottom: 12rem;
    padding-left: 25vh;
    padding-right: 25vh;
    background-color: #35408f;
}

.text-logo {
    font-family: 'ClanOT', sans-serif;
    color: white;
    font-size: 8vh;
    font-weight: bold;
    text-align: center;
}

.nu-logo-register {
    height: 40vh !important;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.register-disclaimer {
    padding-top: 1.2rem;
    text-align: center;
    font-size: 0.8vw;
}